*{
  margin: 0;
}
/*Inician los estilos del body caja padre*/
body{
  background: #000000;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Inician los estilos de la cabecera*/
#cabecera{
  background: #848484;
  width: 80%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
